{{#data}}
<div class="template2">
    <h1><a href="{{ url }}">{{ name }}</a></h1>
    <h2>{{ developer.name }}</h2>
    <h3>{{ price }}</h3>
    <img src="{{img.medium }}">
    <h3>Rating: {{ rating.average }}</h3>
</div>
{{/data}}